@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #fff;
  height: 100%;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ec1e23;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h2 {
  margin: 0;
  font-weight: 700;
}
h3 {
  color: #756c6a;
  font-size: 22px;
}
.App {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
/* Top Menu */
.topMenu {
  display: flex;
  position: fixed;
  width: calc(100% - 20px);
  height: 55px;
  background-color: #2d2727;
  padding: 10px;
  box-shadow: 0 3px 10px 0px rgb(0 0 0 / 35%);
  z-index: 10;
}

.contentLogo {
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  width: 30%;
  height: 100%;
  align-items: center;
}
.contSearch {
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: calc(40% - 20px);
  height: 100%;
}
.inputGroup {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
}
.inputGroup > input {
  display: flex;
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 2px;
  border: none;
  padding: 1px 42px 1px 10px;
}
.inputGroup > span {
  display: flex;
  position: absolute;
  right: 0;
  width: 42px;
  height: 42px;
}
/* contenedor principal */
.container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.contLeft {
  display: flex;
  flex-direction: column;
  width: calc(80% - 60px);
  min-height: 500px;
  background: #f4f4f4;
  padding: 30px 30px;
  margin-top: 75px;
}
.topContent {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 40px;
  margin-bottom: 30px;
  align-items: center;
}
.topContent > div:first-child {
  display: flex;
  position: relative;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  align-items: center;
}
.topContent > div:last-child {
  display: flex;
  position: relative;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}
.topContent > div:last-child > select {
  width: 40%;
  border: none;
}
.listCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 130px);
}
.listCards > p {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
}
.card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 47%;
  height: 400px;
  background: #fff;
  margin-bottom: 30px;
}
.topContentCard {
  display: flex;
  position: relative;
  width: 100%;
  height: 60%;
}
.topContentCard > span:first-child {
  display: flex;
  position: absolute;
  width: 175px;
  height: 175px;
  border-radius: 100%;
  overflow: hidden;
  top: -15px;
  left: -15px;
  box-shadow: 2px 2px 5px 0 rgb(0 0 0 / 25%);
}
.topContentCard > span:last-child {
  padding-left: 180px;
  padding-right: 20px;
  top: -17px;
  position: absolute;
  width: calc(100% - 200px);
}
.topContentCard > span:last-child > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.topContentCard > span:last-child > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
  font-size: 14px;
  line-height: 1.5;
  color: #756c6a;
  height: 126px;
}

.topContentCard > span:last-child > p.withoutDescription {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
span.btnViewMore {
  background: #ec1e23;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  width: 110px;
  height: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 14px;
}
span.btnViewMore:hover {
  transform: scale(1.05);
  background: #cf1920;
  transition: 0.3s ease;
}
.comicList {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(100% - 40px);
  height: 40%;
  padding: 0 20px;
}
.comicList > h3 {
  margin: 10px 0 20px;
}
.contComicsTitles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contComicsTitles > span {
  position: relative;
  font-size: 12px;
  width: 45%;
  margin-bottom: 10px;
  color: #756c6a;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  cursor: pointer;
}
.contComicsTitles > span:hover {
  color: #2b2828;
}
.contRight {
  display: flex;
  position: fixed;
  flex-direction: column;
  background: #ebebeb;
  width: calc(20% - 40px);
  margin-top: 75px;
  padding: 30px 20px;
  right: 0;
  height: calc(100vh - 100px);
  overflow: hidden;
  overflow-y: auto;
}

/* Loading */
#loading {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.loading {
  position: absolute;
  left: 40%;
  top: 50%;
  margin: -60px 0 0 -60px;
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid rgb(238 23 31);
}
.loading:after {
  content: "";
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgb(238 23 31) -3px -3px 9px 0px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* Modal */
.modalContentBack {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 50;
  background: rgb(0 0 0 / 50%);
  overflow: hidden;
  backdrop-filter: blur(10px);
}
.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.3s 0.3s, height 0.3s 0.3s, opacity 0.3s;
}
.fadeIn {
  opacity: 1;
  width: 100%;
  height: 100vh;
  transition: width 0.3s, height 0.3s, opacity 0.3s 0.3s;
}
.modal {
  width: 65%;
  height: 80%;
  background: #fff;
  box-shadow: 0 5px 10px 0px rgb(0 0 0 / 50%);
  position: relative;
}
img.btnCloseModal {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s ease;
}
img.btnCloseModal:hover,
span.btnFooter:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
.modalBody {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100% - 75px);
}
.modalBody.h100 {
  height: 100%;
}
.viewMore {
  display: flex;
  position: relative;
  width: calc(100% - 30px);
  height: calc(100% - 45px);
  padding: 45px 15px 0;
  overflow: hidden;
}
.contImgViewMore {
  display: flex;
  position: relative;
  width: 40%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  overflow-y: auto;
}
.contImgViewMore > span {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
.contImgViewMore > span > img {
  width: 100%;
  height: auto;
}
.contDescViewMore {
  display: flex;
  flex-direction: column;
  position: relative;
  width: calc(60% - 30px);
  height: 100%;
  padding-left: 30px;
}
.modalFooter {
  display: flex;
  position: relative;
  width: 100%;
  height: 75px;
}
.modalFooter.hide {
  display: none;
}
.closeModalVM {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: #ed1d24;
}
.closeModalVM > span.btnFooter {
  color: #b5c3c3;
  width: 135px;
}
.addComic {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  background: #f0f0f0;
  justify-content: center;
  align-items: center;
}
.buyComic {
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  background: #dcdcdc;
  justify-content: center;
  align-items: center;
}
span.btnFooter {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  font-weight: 800;
  color: #3d3333;
  cursor: pointer;
  transition: 0.3s ease;
}
span.btnFooter.buyFor {
  color: #ed1d24;
  width: 200px;
}
p.noDescription {
  height: calc(100% - 29px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
/* pagination */
.pagination {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}
.pagination span {
  display: inline-flex;
  position: relative;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 0 5px;
  border-radius: 5px;
  font-weight: 786;
  box-shadow: 2px 2px 3px 0 rgb(0 0 0 / 25%);
  cursor: pointer;
  opacity: 0.5;
}
.pagination span.active {
  opacity: 1;
  cursor: default;
  transition: 0.3s ease;
  transform: scale(1.05);
}
.pagination span:hover {
  transform: scale(1.05);
}
.viewMore.comicFav > div {
  display: flex;
}
.contComicFav {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
.contComicFav > span {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.contComicFav > span > img {
  width: 100%;
  height: auto;
}
.contComicFav > span > p {
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
}
p.noFav {
  height: calc(100vh - 250px);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contComicFav > span > img.btnDel {
  display: block;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.addComic.addedFav {
  background: #322827;
}
.addComic.addedFav > span.btnFooter {
  color: #ed1d24;
  width: 270px;
}

.burguer {
  display: none;
}
.contentLogo > img {
  width: auto;
  height: 100%;
}
/* Responsive */
@media only screen and (max-width: 1024px) {
  .topContent > h2 {
    font-size: 1.05em;
  }
  .modal {
    width: 70%;
    height: 70%;
  }
  p.noFav {
    font-size: 0.8em;
  }
  .pagination span {
    width: 25px;
    height: 25px;
    font-size: 0.8em;
  }
  .pagination > div {
    display: flex;
    width: 100%;
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
  .contLeft {
    width: calc(70% - 60px);
  }
  .contRight {
    width: calc(30% - 40px);
  }
  .topContent > h2 {
    font-size: 1.25em;
  }
  .modal {
    width: 80%;
    height: 50%;
  }
}
@media only screen and (max-width: 540px) {
  .contentLogo,
  .contSearch {
    width: 50%;
  }
  .topContent > div:first-child > h2 {
    font-size: 1.2em;
  }
  .topContent > div:last-child > select {
    width: 80%;
  }
  .topContent > h2 {
    font-size: 0.7em;
  }
  p.noFav {
    font-size: 0.6em;
  }
  span.btnFooter > span {
    font-size: 0.7em;
  }
  span.btnFooter {
    width: 200px;
  }
  span.btnFooter.buyFor {
    width: 160px;
  }
}
@media only screen and (max-width: 500px) {
  .contentLogo {
    width: 40%;
    align-items: center;
  }
  .contSearch {
    width: 60%;
  }
  .contSearch > .inputGroup {
    width: 75%;
  }
  .contSearch > .burguer {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
  }
  .contRight {
    position: fixed;
    right: -100%;
    width: 50%;
    box-shadow: -7px 0px 20px 0 rgb(0 0 0 / 50%);
    height: calc(100vh - 135px);
    transition: 0.4s ease;
    overflow: hidden;
    overflow-y: auto;
  }
  .contRight.active {
    right: 0%;
    transition: 0.4s ease;
  }
  .contLeft {
    width: calc(100% - 60px);
  }
  .topContent > h2 {
    font-size: 1.35em;
  }
  p.noFav {
    font-size: 1em;
  }
  .modal {
    width: 95%;
    height: 60%;
  }
  .contDescViewMore > h2 {
    font-size: 1em;
  }
  .contDescViewMore > p {
    font-size: 0.75em;
  }
  .modalBody {
    height: calc(100% - 150px);
  }
  .modalFooter {
    height: 150px;
    flex-direction: column;
  }
  .modalFooter > div {
    width: 100%;
  }
  .topContentCard > span:last-child > h2 {
    font-size: 1.2em;
  }
  .topContentCard > span:first-child {
    width: 130px;
    height: 130px;
  }
  .topContentCard > span:last-child {
    padding-left: 130px;
    padding-right: 20px;
    top: -13px;
    width: calc(100% - 150px);
  }
  .topContentCard,
  .comicList {
    height: 50%;
  }
  .card {
    height: 300px;
  }
  span.btnViewMore {
    display: none;
  }
}
@media only screen and (max-width: 320px) {
  .contentLogo > img {
    height: 70%;
  }
  .topContentCard > span:first-child {
    width: 100px;
    height: 100px;
  }
  .topContentCard > span:last-child {
    padding-left: 100px;
    padding-right: 20px;
    width: calc(100% - 120px);
  }
  .topContent > div:first-child > h2 {
    font-size: 0.8em;
  }
}
